{% extends 'tasks/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card text-bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Total Projects</h5>
                    <p class="card-text fs-3">{{ total_projects }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Total Tasks</h5>
                    <p class="card-text fs-3">{{ total_tasks }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card text-bg-light">
                <div class="card-body">
                    <h5 class="card-title">To Do</h5>
                    <p class="card-text fs-3">{{ todo_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-bg-warning">
                <div class="card-body">
                    <h5 class="card-title">In Progress</h5>
                    <p class="card-text fs-3">{{ in_progress_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-bg-success">
                <div class="card-body">
                    <h5 class="card-title">Done</h5>
                    <p class="card-text fs-3">{{ done_count }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}