{% extends 'tasks/base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
    <h1 class="mb-4">Projects</h1>
    {% if user.groups.all.0.name == 'Manager' %}
    <a href="{% url 'create_project' %}" class="btn btn-uedcl mb-4">+ New Project</a>
    {% endif %}
    <div class="list-group">
        {% for project in projects %}
        <div class="list-group-item">
            <strong>{{ project.name }}</strong> — {{ project.description }}
        </div>
        {% endfor %}
    </div>
{% endblock %}