<!DOCTYPE html>
<html>
<head>
    <title>My Tasks</title>
</head>
<body>
    <h1>Tasks</h1>

    <form method="get">
        <input type="text" name="search" placeholder="Search by title" value="{{ search_query }}">

    <select name="status">
        <option value="">All Statuses</option>
        <option value="todo" {% if status_filter == 'todo' %}selected{% endif %}>To Do</option>
        <option value="in_progress" {% if status_filter == 'in_progress' %}selected{% endif %}>In Progress</option>
         <option value="done" {% if status_filter == 'done' %}selected{% endif %}>Done</option>
    </select>

      <select name="sort">
            <option value="">Sort by...</option>
            <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
            <option value="status" {% if sort_by == 'status' %}selected{% endif %}>Status</option>
            <option value="due_date" {% if sort_by == 'due_date' %}selected{% endif %}>Due Date</option>
        </select>

        <button type="submit">Apply</button>
    
    </form>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - {{ task.status }} (Project: {{ task.project.name }})</li>
        {% endfor %}
    </ul>
</body>
</html>